<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RobotikUyelik.Properties.Settings.RobotikConnectionString"
            connectionString="Data Source=HARMANKAYA-LAPT\SQLEXPRESS;Initial Catalog=Robotik;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>